.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 1em;
}

.content {
	/*margin-left: 16.66%;*/
	padding: 3em;
	position: relative;
}

img.grid {
	position: absolute;

	width: 90%;
}
